.classpath
.project
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/io/bankbridge/handler/BanksCacheBased.class
.factorypath
.factorypath
target/
.vscode/settings.json
target/classes/io/bankbridge/model/BankModel.class
target/classes/io/bankbridge/model/BankModel.class
target/classes/io/bankbridge/model/BankModelList.class
target/classes/io/bankbridge/provider/BanksCacheBasedProvider.class
target/test-classes/io/bankbridge/BanksProviderTest.class
target/classes/io/bankbridge/model/BankModelList.class
target/test-classes/io/bankbridge/MockRemotes.class
